*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.fmt
*.fot
*.idx
*.ilg
*.ind
*.lol
*.loe
*.lof
*.log
*.lot
*.lof
*.maintitle
*.out
*.pdf
!poster.pdf
*.ps
*.ptc
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv
*.pyc
__pycache__/
.DS_Store
